#pushup-social-splash {
  border: 0;
}

.pushup-social-panel {
  background: #eeeeee no-repeat center center;
  border-radius: 15px;
  width: 600px;
  min-height: 200px;
  padding: 20px;
  text-align: center;
  color: #fff;
}

p.pushup-social-description {
  font-size: 16px;
}

.pushup-social-panel h1,
.pushup-social-panel h2,
.pushup-social-panel h3,
.pushup-social-panel h4,
.pushup-social-panel h5,
.pushup-social-panel h6 {
  color: #fff;
}

.pushup-social-conversion-btn {
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  background-color: #0bbca1;
  border: none;
  border-bottom: 5px solid #069a83;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pushup-social-helptext {
  max-width: 415px;
}

.pushup-social-conversion-btn:hover {
  color: #ffffff;
  background-color: #35f0d3;
  border-color: #14bba2;
  text-decoration: none;
}

.pushup-social-conversion-btn.blue {
  background-color: #0b8bbb;
  border-left-color: #0b8bbb;
  border-right-color: #0b8bbb;
  border-bottom-color: #0a7299;
}

.pushup-social-conversion-btn.blue:hover {
  background-color: #0bbca1;
  border-bottom-color: #069a83;
}

#pushupsocial-admin-settings-form #edit-pushupcommunityid {
  font-size: 14px;
}

#pushupsocial-admin-settings-form .onoffswitch {
  position: relative;
  width: 87px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#pushupsocial-admin-settings-form .onoffswitch input[type="checkbox"] {
  display: none;
}

#pushupsocial-admin-settings-form .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 10px;
}

#pushupsocial-admin-settings-form .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

#pushupsocial-admin-settings-form .onoffswitch-inner:before,
#pushupsocial-admin-settings-form .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 20px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#pushupsocial-admin-settings-form .onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #35f0d3;
  color: #fff;
}

#pushupsocial-admin-settings-form .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 6px;
  background-color: #990000;
  text-align: right;
}

#pushupsocial-admin-settings-form .onoffswitch-switch {
  width: 30px;
  margin: 2px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 48px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

#pushupsocial-admin-settings-form input.onoffswitch-checkbox {
  display: none;
}

#pushupsocial-admin-settings-form .onoffswitch-label.active .onoffswitch-inner {
  margin-left: 0;
}

#pushupsocial-admin-settings-form .onoffswitch-label.active .onoffswitch-switch {
  right: 0px;
}

#pushupsocial-admin-settings-form input.form-submit {
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 1.33;
  color: #fff;
  border: none;
  background-color: #0b8bbb;
  border-bottom: 5px solid #0a7299;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}
